html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Josefin Slab", serif;
}

a {
	text-decoration: none;
	color: #1e8bc3;
	font-weight: bold;
}

a:hover {
	color: #52b3d9;
}

ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

li {
	font-size: 1.5em;
}

.light {
	background-color: #f2f1ef;
}

.dark {
	background-color: #ececec;
}

#filler {
	display: none;
	height: 74px;
	padding: 10px 0;
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.fixed {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

#icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

#links {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

#header a {
	margin: 0 10%;
	font-size: 1.2em;
	color: #000000;
	opacity: 0.4;
}

#header img {
	width: 40px;
}

#header a:hover, #header img:hover {
	opacity: 1;
}

#top {
	flex-direction: column;
}

#logo {
	width: 20%;
	height: auto;
}

.section {
	min-width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.center {
	justify-content: center;
}

.project {
	min-width: 200%;
	display: flex;
}
	
.project-desc, .project-img {
	width: 40%;
	padding: 10% 5%;
}

p {
	font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 35px
	}
	
	li {
		display: inline-block;
	}
	
	#filler {
		height: 90px;
	}

	#logo {
		width: 80px;
	}

	#header img {
		width: 50px;
	}
	
	#links {
		font-size: 1.3em;
	}
	
	.project {
		min-width: 100%;
		flex-direction: column;
	}
	
	.project-desc, .project-img {
		width: 60%;
		padding: 0 20%;
	}
}
